/* css styles */
@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

* {
    box-sizing: border-box;
    font-optical-sizing: auto;
    text-align: left;
    font-family: "TikTok Sans", sans-serif;
    text-underline-offset: .25rem !important;
}


.quarto-title-banner{
    color: inherit;
    background-color: transparent;
}
.quarto-categories, .quarto-category{
    text-transform: lowercase !important;
    border: none !important;
}

.quarto-post{
    display: flex !important;
    justify-content: flex-end !important;
    border-bottom: none !important;
}

.quarto-post > *{
    flex: 0 0 auto !important;
    width: auto !important; 
}

.quarto-post .listing-title{
    font-size: 1rem !important;
    text-decoration: underline !important;
}

/* .quarto-post .metadata{
    font-size: .8em !important;
} */

@media screen and (min-width: 767.98px) {
.quarto-post{
    align-items: center !important;
}
}