/* css styles */

* {
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-size: .9rem;
    text-align: left;
    color: #000 !important;
}


.quarto-title-banner{
    color: inherit;
    background-color: transparent;
}
.quarto-categories, .quarto-category{
    text-transform: lowercase !important;
    border: none !important;
}

.quarto-post{
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
    margin-bottom: 1.5em;
    border-bottom: 1px solid #dee2e6;
}

.quarto-post > *{
    flex: 0 0 auto !important;
    width: auto !important; 
}