/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

* {
    box-sizing: border-box;
    font-optical-sizing: auto;
    text-align: left;
    font-family: "Inconsolata", monospace;
    font-family: "TikTok Sans", sans-serif;
    text-underline-offset: .25rem !important;
    line-height: 1.9 !important;
}

.group{
  margin-bottom: 3rem !important;
}

code {
    font-family: inherit !important;
}
.quarto-title-banner{
    color: inherit;
    background-color: transparent;
}
.quarto-categories, .quarto-category{
    text-transform: lowercase !important;
    border: none !important;
}

.quarto-post{
    display: flex !important;
    justify-content: flex-end !important;
    border-bottom: none !important;
    margin-bottom: .8rem !important;
    padding-bottom: 0 !important;
}

.quarto-post > *{
    flex: 0 0 auto !important;
    width: auto !important; 
}

.quarto-post .listing-title{
    font-size: 1rem !important;
}
.quarto-post .listing-title:hover{
    text-decoration: underline !important;
    transition: text-decoration 0.5s ease-in-out !important;
}

.quarto-title .title{
    color: black !important;
}

.quarto-post .metadata{
    font-size: .85em !important;
}

@media screen and (min-width: 767.98px) {
.quarto-post{
    align-items: center !important;
    margin-bottom: .8rem !important;
}
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.2rem;
}

/* Reset margins on whatever Quarto puts inside (figure, div, etc.) */
.grid-2 > * {
  margin: 0;
}

/* Make images consistent size */
.grid-2 img {
  width: 100%;
  aspect-ratio: 16 / 9; 
  object-fit: cover;
}

/* Make the last item span the full row */
.grid-2 > *:last-child {
  grid-column: 1 / -1;
}

/* Mobile: single column */
@media (max-width: 700px) {
  .grid-2 {
    grid-template-columns: 1fr;
  }
}


/* Make all blog images consistent */
.quarto-figure img,
img {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16 / 9; 
  object-fit: cover;
  display: block;
}

figcaption {
  font-size: 0.8rem;
}